@font-face {
    font-family: "Futura";
    src: url('Futura Book font.eot'); /* IE9 */
    src: url('Futura Book font.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Futura Book font.woff2') format('woff2'),
        url('Futura Book font.woff') format('woff'),
        url('Futura Book font.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url('Futura Book font.svg') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
