.page-nav-wrapper {
    width: 21px;
    height: 267px;
    position: fixed;
    left: 58px;
    bottom: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .nav-spot {
        width: 21px;
        height: 21px;
        background-color: #4f8a8b;
        border-radius: 11px;
        cursor: pointer;
    }

    .nav-spot-selected {
        background-color: #ea907a;
    }
}