.tag-wrapper {
    width: auto;
    height: 56px;
    padding: 0 18px;
    border-radius: 4px 4px 0px 0px;
    border: solid 1px #707070;
    margin: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .tag-icon {
        font-size: 20px;
        line-height: 20px;
        color: #9a9a9a;
        margin-right: 18px;
    }

    .tag-text {
        font-size: 16px;
        color: #9a9a9a;
    }
}